* {
    margin: 0;
    padding: 0;
}
body {
    transition: background 0.2s linear;
}

.my-pic {
    height: 500px;
}

.home-text {
    font-size: 100px;
}

.me-1 h1 {
    font-size: 70px;
}

.home-btn-work button{ 
    padding-left: 52px;
    padding-right: 52px;
}

.home-btn-contact button{
    padding-left: 54px;
    padding-right: 54px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}


.label-dm {
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
}

.bi-brightness-high {
    color: #f1c40f;
}

.bi-moon-fill {
    color: #f39c12
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label-dm .ball {
    transform: translateX(24px);
}
 
.dark {
    background-color: #292c35;
}
.dark .home-welcome{
    color: white;
}

.dark .nv-bg {
    background-color: #292c35;
}

.dark .navbar-light{
    color: white;
}

.dark .t-list{
    color: white;
}

.dark .t-about{
    color: white;
}

.dark .t-works{
    color: white;
}

.dark .t-footer{
    background-color: #292c35;
    color: white;
}

.dark .t-contact{
    color: white;
}

.dark .card-bg {
    background-color: #292c35;
    color: white;
}

.dark .form-control {
    background-color: #292c35;
}

.dark .floatingInput {
    color: white;
}

@media screen and (max-width: 700px) {
    .home-welcome {
        text-align: center;   
    }

    .home-pos {
        font-size: 25px;
    }
    .home-name {
        font-size: 35px;
    }
    .my-pic {
        height: 430px;
    }
    .me-1 {
        align-items: center;
        justify-content: center;
        margin-top: -100px;
    }
    .me-1 h1 {
        text-align: center;
        font-size: 50px;
    }
    .me-1 h2 {
        text-align: center;
        font-size: 25px;
    }
    .me-1 h3 {
        text-align: center;
        font-size: 25px;
    }
    .btn-works {
        margin-left: 38%;
    }

    .contact-sec {
        align-items: center;
        justify-content: center;
    }

    .contact-sec h4{
        text-align: center;
        font-size: 17px;
    }
  }