body {
    font-family: 'Century Gothic';
    background-color: #2b2b2b;
    color: white;
    scroll-snap-type: mandatory;
    overflow-y: scroll;
}

.img-logo {
    width: 40px;
}

.footer-logo {
    width: 30px;
}

.section-div {
    min-height: 100vh;
    scroll-snap-align: start;
}


.card {
    transition: 0.5s;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.card:hover {
    transform: translateY(-15px);
    /* box-shadow: 10px 10px rgb(68, 68, 68); */
    box-shadow: 0 10px 14px 0 rgb(119, 119, 119), 0 12px 25px 0 rgba(119, 119, 119);
}

.para-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.para-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 500px;
    width: 200px;
    height: 100%;
    background-color: rgba(138, 138, 138, 0.5);
    transform: skewX(45deg) translateX(200px);
    transition: 0.3s;
}
.card:hover::before{
    transform: skewX(45deg) translateX(-1000px);
} */


.form-btn {
    outline: none;
    border: 0;
    line-height: 1;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


/* .header-list::after {
    content: '';
    outline: none;
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.header-list:hover::after{
    width: 100%;
    transition: width .3s;
} */

.main-pic {
    position: relative;
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    /* background: linear-gradient(150deg, #343a40, #6c757d );   */
}

.main-pic img {
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.main-pic:hover img{
    left: 65%;
    height: 400px;
}

.main-pic .main-pic-content {
    position: relative;
    width: 50%;
    left: 20%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.main-pic:hover .main-pic-content {
    left: -3%;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 300px) {
    
    .main-pic {
        position: relative;
        width: auto;
        max-width: 600px;
    }

}


ul li a:before {
    content: '';
    position: relative;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #ffb700;
    border-width: 0 0 0 3px;
    transition: .3s;
    opacity: 0;
}

ul li a:hover::before {
    left: -8px;
    opacity: 1;
}

ul li a:after {
    content: '';
    position: relative;
    right: 12px;
    width: 12px;
    right: 12px;
    border: 3px solid #ffb700;
    border-width: 0 3px 0 0;
    transition: .3s;
    opacity: 0;
}

ul li a:hover::after {
    right: -8px;
    opacity: 1;
}


/* scroll up  */
.scrollUp {
    position: fixed;
    bottom: 5px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.scrollUp.active {
    bottom: 30px;
    pointer-events: auto;
    opacity: 1;
}

/* Dark / Light Mode Button */
.dark-light-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 5px grey;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-light-btn:hover {
    cursor: pointer;
}






